@tailwind base;
@tailwind components;
@tailwind utilities;

/* এখানে আমরা এইভাবে একটা ক্লাস নেইম দিয়ে এর ভিতরে আমরা অ্যাপ্লাই দিয়ে আমাদের টাইলওয়িন্দ ক্লাস গুলা দিয়ে দিব পরে ওইখানে মানে যেখানে আমরা  ক্লাস গুলা ব্যাবহার করতে ছিলাম সেখানে শুধু এখানের যে কাস্টম একটা কল দিব সেইটা দিয়ে দিলেই হবে  */
@layer components {
  /* buttons here  */
  .btn-1 {
    @apply px-5 py-3 font-semibold text-white duration-300 rounded-full bg-buttons hover:bg-white hover:text-buttons focus:ring-2;
  }

  /* navbar regarding start here  */
  .navbar-parent {
    @apply flex-wrap items-center justify-center hidden text-base md:ml-auto lg:block;
  }
  .link-item {
    @apply relative mr-5 text-base font-bold two w-max hover:text-white;
  }
  .link-hover {
    @apply absolute transition-all bg-white -bottom-1;
  }
  .title-btn {
    @apply px-4 py-2 ml-10 text-base font-bold border-2 border-gray-400 rounded-full hover:border-white hover:text-white;
  }
  /* naavbar regarding end here */

  /* video section regarding start here  */
  .videoList-container {
    @apply py-32;
  }
  /* video section regarding end here  */

  /* authentication || login || register components classes here  */
  .auth-input {
    @apply w-full px-5 py-4 mt-1 text-black border rounded-md shadow-lg;
  }

  /* footer regarding style start here  */
  .footer-icon {
    @apply p-2 mt-5 mr-4 duration-200 rounded-md cursor-pointer bg-slate-800 hover:text-lightBlue;
  }
  .footer-nav-title {
    @apply mb-3 text-xl font-medium tracking-widest text-white;
  }
  .footer-nav-item {
    @apply block my-4 text-gray-600 cursor-pointer hover:text-gray-800;
  }
  .footerBannerParent {
    @apply relative mx-auto shadow rounded-2xl bg-lightBlue shadow-blue-700;
  }
  .footerBannerContent {
    @apply items-center justify-around block px-6 py-16 lg:flex lg:px-0;
  }
  /* footer regarding style end here  */
}

/*  এখানে আমরা এইভাবে এইচটিএমএল এর কোনো ট্যাগ এর ডিফল্ট বিহেবিউর কেমন হবে সেটা আমরা সেট করে দিতে পারবো  */
@layer base {
  h1 {
    @apply text-3xl sm:text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
}

/* এখানে আমরা আমাদের নিজস্য ক্লাস বানিয়ে কাস্টম সিএসএস দিয়ে দিতে পারবো এবং আমাদের পিসি তে যদি Tailwind CSS IntelliSense এই এক্সটেনশন থাকে তাহলে আমাদের কে এই কল সাজেস্ট করবে । */
@layer utilities {
  .hello {
    background-color: #fff;
  }
}

/* custom css will be here   */
/* এখানে আমরা ফাইল বেইজড সিএসএস লিখবো */

/* Navbar css */
.one:hover span:last-child {
  width: 100%;
}
/* helpdesk banner imagee border */
.community img {
  border: 5px solid rgb(141, 138, 138);
  border-radius: 50%;
}

.two:hover span {
  width: 50%;
}

.three:hover span {
  height: 100%;
}
/* hero section */
#search {
  padding: 15px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
#search:focus {
  outline: none;
}
.click {
  right: 8px;
  padding: 17px 20px;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  background-color: #e5e7eb;
  color: black;
}

.click:hover {
  background-color: #e5e7eb;
}

/*Video List CSS by Fahad */
.video-List {
  background-color: rgb(25, 26, 46);
}
.bshadow {
  box-shadow: 0 20px 40px 0 rgb(4 73 89 / 10%);
}

/* slider css */
.slider {
  background: #131417;
}
.slick-slide img {
  border-radius: 20px;
  z-index: 11111;
}
.slick-dots {
  text-align: left !important;
}
.slick-dots li button:before {
  color: #3636f8 !important;
  font-size: 10px !important;
  margin-left: 50px;
  margin-top: -50px;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.rounded-one {
  background-color: #3636f8;
  width: 280px;
  height: 280px;
  margin-left: -205px;
  margin-top: 120px !important;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-image: linear-gradient(50deg, #5736fe 0%, #fd406e 100%);
  overflow: hidden;
  z-index: 1;
}

.rounded-tow {
  background-color: #3636f8;
  width: 100px;
  height: 100px;
  margin-left: -140px;
  margin-top: 50px;
  background-image: linear-gradient(50deg, #5736fe 0%, #fd406e 100%);
  opacity: 0.5;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

/* Online Doc */
button#simple-tab-0,
button#simple-tab-1,
button#simple-tab-2,
button#simple-tab-3 {
  color: white;
}
span.MuiTabs-indicator.css-1aquho2-MuiTabs-indicator {
  background-color: #5736fe !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  background-color: #2c303a !important;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
}
.docs-btn {
  font-size: 18px;
  cursor: pointer;
}
.docs-btn:hover {
  color: #3636f8;
}

/* Question section css */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 8px 0;
  margin-bottom: 5px;
  width: 100%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: #2c303a;
  border-bottom: 1px solid transparent;
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  background: #131417;
  padding: 20px 0px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}
/* Forums */
.Qu-btn a {
  background-color: #10b3d6;
  padding: 12px 20px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #10b3d6;
}
.Qu-btn a:hover {
  background-color: white;
  color: black;
  border: 1px solid #10b3d6;
}
.Fimg img {
  width: 40px;
  height: 40px;
  color: #acadad;
}
.uImg img {
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.boxs:hover {
  background-color: #2c303a;
}
.off-btn {
  border: 2px solid #ffd06a;
  padding: 5px 15px;
  border-radius: 3px;
}
.off-btn:hover {
  background-color: #ffd06a;
}
.ul li {
  margin-bottom: 10px;
  cursor: pointer;
}
.ul li:hover {
  color: #10b3d6;
}
/*  */
.breadcrumb_area {
  background-image: linear-gradient(60deg, #10b3d6 0%, #1d2746 100%);
  padding: 190px 0 95px;
  position: relative;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item:before {
  content: '\f054';
  font-family: 'Font Awesome 5 Free';
  color: #b7b9be;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}
.overlay-bg {
  background-image: url(https://html.creativegigs.net/kbdoc/kbdoc-html/img/home_support/overlay_bg.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  padding: 70px 0px;
}
.action_btn {
  border: 1px solid #10b3d6;
  font-size: 16px;
  padding: 9px 25px;
  font-weight: 500;
}

.action_btn {
  color: #fff;
  box-shadow: 0 20px 30px 0 rgb(12 118 142 / 24%);
  border-radius: 4px;
  background: #10b3d6;
  display: inline-block;
  padding: 14px 28px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.18s ease-in-out;
}

/*Documentation  */
#docSearch {
  margin: 30px 0px;
  width: 280px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #2c303a;
  border: 1px solid #d8d8d84b;
}
#docSearch:focus {
  outline: 0;
}

.text-title:hover {
  color: #433ed8;
}
.text-list li {
  list-style: none;
  margin: 10px 0px;
  cursor: pointer;
  font-size: 15px;
}
.text-list li:hover {
  color: #4c47d0;
}
.tabImg {
  width: 20px;
  height: 20px;
}

.otp {
  background-color: #2c303a;
  width: 226px;
  padding: 12px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.otp-drop {
  background-color: #2c303a;
  color: white;
}

.Mitems {
  cursor: pointer;
  padding: 10px;
}
.Mitems:hover {
  color: #3636f8;
  background-color: #444857;
}

.ionicon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
/* Animation Area css
============================================================================================ */

/* Contact css */
.contactIcon {
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;
  color: #08beab;
  background: rgba(8, 190, 171, 0.1);
  padding: 10px;
}
.c-btn {
  background-color: #08beab;
}

.iconHover:hover .contactIcon {
  background-color: #08beab;
  color: white;
}
@keyframes customUp {
  0% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes spin2 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(40px);
  }
}
@keyframes spin1 {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.5);
  }
}

/* End Animation Area css
============================================================================================ */
.clearfix:before,
.clearfix:after,
.clearfix:after,
.ap-row:before,
.ap-row:after {
  content: ' ';
  display: table;
  clear: both;
}
#ap-user-nav .ap-tab-nav li.active {
  background: #0a48b3;
}
#ap-user-nav .ap-tab-nav li:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.profile-btn {
  background: none;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
  display: block;
  margin-bottom: 0;
  padding: 0.75rem 1rem;
  line-height: 1.7;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #101e36;
}
.scisco-user-table-left {
  min-width: 150px;
  font-weight: 500;
  border-right: 0;
  padding: 1.25rem;
  color: #101e36;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.scisco-user-table-right {
  padding: 1.25rem;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

/*============================================ about ================================================= */
.minimal-content {
  padding: 19px 0 70px;
}
.minimal-header {
  @apply relative text-center text-white;
  padding: 170px 0 200px;
}
.minimal-header::before {
  @apply absolute left-0 w-full h-full bg-no-repeat bg-cover;
  top: -17%;
  content: '';
  z-index: -1;
  background-position: 0 50%;
  transform: skewY(-2.5deg);
  background: #1e0d3d;
}

.minimal-header-text h1 {
  @apply m-0 font-normal text-center text-white;
}

.text-block .heading-sm {
  @apply relative text-sm font-bold text-blue-700 uppercase;
  padding-left: 45px;
  letter-spacing: 1px;
}
.text-block .heading-sm::before {
  @apply absolute left-0 w-8 bg-blue-700 top-1/2;
  margin-top: -1px;
  height: 2px;
  content: '';
}
.text-block h3 {
  @apply mb-4 text-3xl font-bold;
}
.text-block ul {
  @apply pl-4;
}
.text-block ul li {
  @apply mb-4 text-gray-500;
}
.text-block .quote-text p {
  @apply italic text-gray-500;
  font-size: 1.25rem;
  font-family: 'Noto Serif', serif;
}
.quote-attribution {
  @apply text-base font-bold;
  color: #253858;
}
.o-separator {
  @apply flex items-center mb-12;
  display: -ms-flexbox;
  flex-wrap: no-wrap;
}
.o-separator hr {
  @apply h-px border-0;
  background: #ebebeb;
  flex-grow: 1;
}
.o-separator-text {
  @apply block font-semibold;
  font-size: 18px;
  margin: 0 20px;
  color: #253858;
}


/*=========================== Help Desk ================================== */
/*================ Help Desk Banner =============== */
.hd-banner-support {
  @apply py-48 relative px-0;
  height: 945px;
  /* background-image: linear-gradient(30deg, #feefec 0%, #f5fdff 100%); */
  background-color: #1e0d3d;
}

@media (max-width: 768px) {
  .hd-banner-support {
    padding: 100px 0;
    height: 820px;
  }
}
.hd-banner-support .banner-content-wrapper {
  @apply relative mx-auto my-0;
  max-width: 770px;
  z-index: 2;
}

.hd-banner-support .banner-content-wrapper .banner-title {
  @apply font-medium text-white mb-3 text-5xl;
}
@media (max-width: 768px) {
  .hd-banner-support .banner-content-wrapper .banner-title {
    font-size: 34px;
  }
}
.hd-banner-support .banner-content-wrapper p {
  @apply text-lg text-gray-200 mb-10;
}

.hd-banner-support .banner-content-wrapper .banner-search-form {
  @apply shadow-lg my-0 mx-auto flex bg-white;
  max-width: 770px;
  border-radius: 30px;
}

.hd-banner-support .bottom-shape {
  @apply absolute w-full left-0;
  bottom: -1px;
}
.hd-banner-support .bottom-shape img {
  @apply w-full;
}

.people-image {
  @apply absolute w-full left-1/2;
  height: 320px;
  max-width: 1250px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 165px;
  z-index: 3;
}
@media (max-width: 767px) {
  .people-image {
    height: 280px;
  }
}
@media (max-width: 576px) {
  .people-image {
    bottom: 80px;
  }
}
.people-image li {
  @apply absolute rounded-full overflow-hidden border-4 border-white shadow-xl;
}
.people-image li img {
  @apply w-full;
}
.people-image li:nth-child(1) {
  @apply left-1/2 top-4;
  transform: translateX(-50%);
  border: 6px solid #fff;
  height: 130px;
  width: 130px;
  box-shadow: 0px 50px 80px 0px rgba(59, 14, 3, 0.12);
}
.people-image li:nth-child(2) {
  @apply top-0 h-20 w-20;
  left: 29.4%;
}
.people-image li:nth-child(3) {
  right: 26.4%;
  top: -5px;
  height: 70px;
  width: 70px;
}
.people-image li:nth-child(4) {
  @apply left-40 top-20 h-20 w-20;
}
.people-image li:nth-child(5) {
  @apply bottom-10 h-20 w-20;
  left: 26.4%;
}
.people-image li:nth-child(6) {
  right: 38%;
  bottom: -20px;
  height: 100px;
  width: 100px;
}
.people-image li:nth-child(7) {
  right: 85px;
  bottom: 5px;
  width: 90px;
  height: 90px;
}
.people-image li:nth-child(8) {
  left: 0;
  bottom: 0;
  border: 2px solid #fff;
}
.people-image li:nth-child(9) {
  right: 22.3%;
  bottom: 35%;
  height: 50px;
  width: 50px;
  border: 2px solid #fff;
}
.people-image li:nth-child(10) {
  right: 0;
  bottom: 145px;
  height: 60px;
  width: 60px;
  border: 2px solid #fff;
}

@media (max-width: 768px) {
  .people-image li:nth-child(4) {
    left: 95px;
  }
}
@media (max-width: 576px) {
  .people-image li:nth-child(2) {
    left: 13%;
  }
  .people-image li:nth-child(3) {
    right: 18%;
  }
}
@media (max-width: 440px) {
  .people-image li:nth-child(1) {
    height: 100px;
    width: 100px;
  }
  .people-image li:nth-child(4) {
    left: 20px;
  }
  .people-image li:nth-child(5) {
    left: 22.4%;
    bottom: 55px;
  }
  .people-image li:nth-child(7) {
    right: 25px;
  }
  .people-image li:nth-child(8) {
    left: 10px;
  }
  .people-image li:nth-child(10) {
    right: 20px;
  }
}

.partical-animation {
  @apply w-full bottom-0 left-0 absolute;
  width: 100%;
  height: 550px;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.partical-animation li {
  @apply rounded-full absolute;
}
.partical-animation li:nth-child(1) {
  left: 165px;
  top: 120px;
}
.partical-animation li:nth-child(2) {
  @apply top-20 h-2 w-2;
  left: 19%;
  background: #fd9382;
}
.partical-animation li:nth-child(3) {
  left: 19%;
  bottom: 30%;
  height: 10px;
  width: 10px;
  background: #fe97f3;
}
.partical-animation li:nth-child(3) {
  left: 28%;
  top: 35%;
  height: 35px;
  width: 35px;
  background: #f3d5de;
}
.partical-animation li:nth-child(4) {
  @apply h-3 w-3;
  left: 27%;
  bottom: 30%;
  background: #83daed;
}
.partical-animation li:nth-child(5) {
  @apply left-1/3 bottom-1/2 h-3 w-3 bg-yellow-500;
}
.partical-animation li:nth-child(6) {
  @apply left-1/2 top-1/3 h-12 w-12;
  background: #4edfda;
}
.partical-animation li:nth-child(7) {
  right: 46%;
  bottom: 27%;
  height: 22px;
  width: 22px;
  background: #f39ab2;
}
.partical-animation li:nth-child(8) {
  right: 46%;
  bottom: 27%;
  height: 22px;
  width: 22px;
  background: #f39ab2;
}
.partical-animation li:nth-child(9) {
  @apply w-2 h-2 bg-red-300;
  right: 40%;
  bottom: 60%;
}
.partical-animation li:nth-child(10) {
  @apply w-7 h-7;
  right: 22%;
  bottom: 30%;
  background: #bff8c6;
}
.partical-animation li:nth-child(11) {
  @apply w-4 h-4 bg-red-300;
  right: 10%;
  bottom: 55%;
}
.partical-animation li:nth-child(12) {
  @apply right-16 bottom-40;
}

.related-doc-title {
  font-size: 30px;
  font-weight: bold;
}

.fun-fact1-counter {
  color: #10b3d6;
}
.fun-fact2-counter {
  color: #fbb631;
}
.fun-fact3-counter {
  color: #fd5baf;
}
.fun-fact4-counter {
  color: #11c296;
}
.fun-fact5-counter {
  color: #9360fc;
}
