@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

body {
  font-family: 'Arimo', sans-serif;
  transition: all 0.8s ease-in-out;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#140b25, #1f3341);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* selection End */

/* এখানে আমরা এইভাবে একটা ক্লাস নেইম দিয়ে এর ভিতরে আমরা অ্যাপ্লাই দিয়ে আমাদের টাইলওয়িন্দ ক্লাস গুলা দিয়ে দিব পরে ওইখানে মানে যেখানে আমরা  ক্লাস গুলা ব্যাবহার করতে ছিলাম সেখানে শুধু এখানের যে কাস্টম একটা কল দিব সেইটা দিয়ে দিলেই হবে  */
@layer components {
  /* buttons here  */
  .btn-1 {
    @apply rounded-full bg-buttons px-5 py-3 font-semibold text-white duration-300 hover:bg-white hover:text-buttons focus:ring-2;
  }

  /* navbar regarding start here  */
  .navbar-parent {
    @apply hidden flex-wrap items-center justify-center text-base md:ml-auto lg:block;
  }
  .link-item {
    @apply two relative mr-5 w-max text-base font-bold hover:text-white;
  }
  .link-hover {
    @apply absolute -bottom-1 bg-white transition-all;
  }
  .title-btn {
    @apply ml-5 mr-5 rounded-full border-2 border-gray-400 px-4 py-2 text-base font-bold hover:border-white hover:text-white;
  }
  /* naavbar regarding end here */

  /* video section regarding start here  */
  .videoList-container {
    @apply py-32;
  }
  /* video section regarding end here  */

  /* authentication || login || register components classes here  */
  .auth-input {
    @apply mt-1 w-full rounded-md border px-5 py-4 text-black shadow-lg;
  }

  /* footer regarding style start here  */
  .footer-icon {
    @apply mt-5 mr-4 cursor-pointer rounded-md bg-slate-800 p-2 duration-200 hover:text-lightBlue dark:text-Docy-White;
  }
  .footer-nav-title {
    @apply mb-3 text-xl font-medium tracking-widest text-Docy-Dark dark:text-white;
  }
  .footer-nav-item {
    @apply my-4 block cursor-pointer text-gray-600 hover:text-gray-800;
  }
  .footerBannerParent {
    @apply relative mx-auto rounded-2xl bg-lightBlue shadow shadow-blue-700;
  }
  .footerBannerContent {
    @apply block items-center justify-around px-6 py-16 lg:flex lg:px-0;
  }
  /* footer regarding style end here  */
}

/*  এখানে আমরা এইভাবে এইচটিএমএল এর কোনো ট্যাগ এর ডিফল্ট বিহেবিউর কেমন হবে সেটা আমরা সেট করে দিতে পারবো  */
@layer base {
  h1 {
    @apply text-3xl sm:text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
}

/* এখানে আমরা আমাদের নিজস্য ক্লাস বানিয়ে কাস্টম সিএসএস দিয়ে দিতে পারবো এবং আমাদের পিসি তে যদি Tailwind CSS IntelliSense এই এক্সটেনশন থাকে তাহলে আমাদের কে এই কল সাজেস্ট করবে । */
@layer utilities {
  .hello {
    background-color: #fff;
  }
}

/* custom css will be here   */
/* এখানে আমরা ফাইল বেইজড সিএসএস লিখবো */

/* Navbar css */
.one:hover span:last-child {
  width: 100%;
}
/* helpdesk banner imagee border */
.community img {
  border: 5px solid rgb(141, 138, 138);
  border-radius: 50%;
}

.two:hover span {
  width: 50%;
}

.three:hover span {
  height: 100%;
}
/* hero section */
#search {
  padding: 15px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  @apply bg-slate-100 dark:bg-Docy-Dark;
}
#search:focus {
  outline: none;
}
.click {
  right: 8px;
  padding: 17px 20px;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  background-color: #e5e7eb;
  color: black;
}

.click:hover {
  background-color: #e5e7eb;
}

/*Video List CSS by Fahad */
.video-List {
  @apply bg-Docy-BlueyPurple dark:bg-Docy-DarkLight dark:text-Docy-Dark;
}
.bshadow {
  box-shadow: 0 20px 40px 0 #0449591a;
}

/* slider css */
.slider {
  @apply bg-slate-100 text-Docy-Dark dark:bg-Docy-AlmostBlack dark:text-white;
}
.slick-slide img {
  border-radius: 20px;
  z-index: 11111;
}
.slick-dots {
  text-align: left !important;
}
.slick-dots li button:before {
  color: #3636f8 !important;
  font-size: 10px !important;
  margin-left: 50px;
  margin-top: -50px;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.rounded-one {
  background-color: #3636f8;
  width: 280px;
  height: 280px;
  margin-left: -205px;
  margin-top: 120px !important;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-image: linear-gradient(50deg, #5736fe 0%, #fd406e 100%);
  overflow: hidden;
  z-index: 1;
}

.rounded-tow {
  background-color: #3636f8;
  width: 100px;
  height: 100px;
  margin-left: -140px;
  margin-top: 50px;
  background-image: linear-gradient(50deg, #5736fe 0%, #fd406e 100%);
  opacity: 0.5;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.loGo {
  margin-left: 30em;
}
/* Online Doc */
button#simple-tab-0,
button#simple-tab-1,
button#simple-tab-2,
button#simple-tab-3 {
  color: white;
}
span.MuiTabs-indicator.css-1aquho2-MuiTabs-indicator {
  background-color: #5736fe !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  background-color: #2c303a !important;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
}
.docs-btn {
  font-size: 18px;
  cursor: pointer;
}
.docs-btn:hover {
  color: #3636f8;
}

/* Question section css */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 8px 0;
  margin-bottom: 5px;
  width: 100%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  border-bottom: 1px solid transparent;
  @apply bg-slate-400 text-Docy-Dark dark:bg-Docy-AlmostBlack dark:text-white;
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  padding: 20px 0px;
  width: 100%;
  height: 100%;
  display: none;
  @apply dark:bg-Docy-AlmostBlack;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}
/* Forums */
.Qu-btn a {
  background-color: #10b3d6;
  padding: 12px 20px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #10b3d6;
}
.Qu-btn a:hover {
  background-color: white;
  color: black;
  border: 1px solid #10b3d6;
}
.Fimg img {
  width: 40px;
  height: 40px;
  color: #acadad;
}
.uImg img {
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.boxs:hover {
  background-color: #2c303a;
}
.off-btn {
  border: 2px solid #ffd06a;
  padding: 5px 15px;
  border-radius: 3px;
}
.off-btn:hover {
  background-color: #ffd06a;
}
.ul li {
  margin-bottom: 10px;
  cursor: pointer;
}
.ul li:hover {
  color: #10b3d6;
}
/*  */
.breadcrumb_area {
  background-image: linear-gradient(60deg, #10b3d6 0%, #1d2746 100%);
  padding: 190px 0 95px;
  position: relative;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item:before {
  content: '\f054';
  font-family: 'Font Awesome 5 Free';
  color: #b7b9be;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}
.overlay-bg {
  background-image: url(https://html.creativegigs.net/kbdoc/kbdoc-html/img/home_support/overlay_bg.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  padding: 70px 0px;
}
.action_btn {
  border: 1px solid #10b3d6;
  font-size: 16px;
  padding: 9px 25px;
  font-weight: 500;
}

.action_btn {
  color: #fff;
  box-shadow: 0 20px 30px 0 rgb(12 118 142 / 24%);
  border-radius: 4px;
  background: #10b3d6;
  display: inline-block;
  padding: 14px 28px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.18s ease-in-out;
}

/*Documentation  */
#docSearch {
  margin: 30px 0px;
  width: 280px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #2c303a;
  border: 1px solid #d8d8d84b;
}
#docSearch:focus {
  outline: 0;
}

.text-title:hover {
  color: #433ed8;
}
.text-list li {
  list-style: none;
  margin: 10px 0px;
  cursor: pointer;
  font-size: 15px;
}
.text-list li:hover {
  color: #4c47d0;
}
.tabImg {
  width: 20px;
  height: 20px;
}

.otp {
  background-color: #2c303a;
  width: 226px;
  padding: 12px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.otp-drop {
  background-color: #2c303a;
  color: white;
}

.Mitems {
  cursor: pointer;
  padding: 10px;
}
.Mitems:hover {
  color: #3636f8;
  background-color: #444857;
}

.ionicon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
/* Animation Area css
============================================================================================ */

/* Contact css */
.contactIcon {
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;
  color: #08beab;
  background: rgba(8, 190, 171, 0.1);
  padding: 10px;
}
.c-btn {
  background-color: #08beab;
}

.iconHover:hover .contactIcon {
  background-color: #08beab;
  color: white;
}
@keyframes customUp {
  0% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes spin2 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(40px);
  }
}
@keyframes spin1 {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.5);
  }
}

/* End Animation Area css
============================================================================================ */
.clearfix:before,
.clearfix:after,
.clearfix:after,
.ap-row:before,
.ap-row:after {
  content: ' ';
  display: table;
  clear: both;
}
#ap-user-nav .ap-tab-nav li.active {
  background: #0a48b3;
}
#ap-user-nav .ap-tab-nav li:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.profile-btn {
  background: none;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
  display: block;
  margin-bottom: 0;
  padding: 0.75rem 1rem;
  line-height: 1.7;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #101e36;
}
.scisco-user-table-left {
  min-width: 150px;
  font-weight: 500;
  border-right: 0;
  padding: 1.25rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  @apply text-Docy-Dark dark:text-white;
}
.scisco-user-table-right {
  padding: 1.25rem;
  border-left: 1px solid rgb(255, 255, 255);
}

.clock {
  margin: 0;
  padding: 0;
}
/*============================================ about ================================================= */
.minimal-content {
  padding: 19px 0 70px;
}
.minimal-header {
  @apply relative text-center text-white;
  padding: 170px 0 200px;
}
.minimal-header::before {
  @apply absolute left-0 h-full w-full bg-slate-300 bg-cover bg-no-repeat dark:bg-theme;
  top: -17%;
  content: '';
  z-index: -1;
  background-position: 0 50%;
  transform: skewY(-2.5deg);
}

.minimal-header-text h1 {
  @apply m-0 text-center font-normal text-theme dark:text-white;
}

.text-block .heading-sm {
  @apply relative text-sm font-bold uppercase text-blue-700;
  padding-left: 45px;
  letter-spacing: 1px;
}
.text-block .heading-sm::before {
  @apply absolute left-0 top-1/2 w-8 bg-blue-700;
  margin-top: -1px;
  height: 2px;
  content: '';
}
.text-block h3 {
  @apply mb-4 text-3xl font-bold;
}
.text-block ul {
  @apply pl-4;
}
.text-block ul li {
  @apply mb-4 text-gray-500;
}
.text-block .quote-text p {
  @apply italic text-gray-500;
  font-size: 1.25rem;
  font-family: 'Noto Serif', serif;
}
.quote-attribution {
  @apply text-base font-bold;
  color: #253858;
}
.o-separator {
  @apply mb-12 flex items-center;
  display: -ms-flexbox;
  flex-wrap: no-wrap;
}
.o-separator hr {
  @apply h-px border-0;
  background: #ebebeb;
  flex-grow: 1;
}
.o-separator-text {
  @apply block font-semibold;
  font-size: 18px;
  margin: 0 20px;
  color: #253858;
}

/* ===================== Docs Footer css ================ */
.footers-icon li {
  margin-left: 25px;
  color: #8d93a4;
  border: 2px solid;
  padding: 10px;
  border-radius: 50%;
}
.footers-icon li:hover {
  color: white;
  background-color: #3636f8;
  border: 2px solid #3636f8;
}

/* =================
All docs css
=================== */
.description-list li {
  list-style: decimal;
  margin: 25px 0px 5px 0px;
  font-weight: 600;
}

.option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  line-height: 1.5;
  color: #525f7f;
}
legend + * {
  clear: left;
}

/*=========================== Help Desk ================================== */
/*================ Help Desk Banner =============== */
.hd-banner-support {
  @apply relative px-0 py-48;
  height: 945px;
  /* background-image: linear-gradient(30deg, #feefec 0%, #f5fdff 100%); */
  background-color: #1e0d3d;
}

@media (max-width: 768px) {
  .hd-banner-support {
    padding: 100px 0;
    height: 820px;
  }
}
.hd-banner-support .banner-content-wrapper {
  @apply relative mx-auto my-0;
  max-width: 770px;
  z-index: 2;
}

.hd-banner-support .banner-content-wrapper .banner-title {
  @apply mb-3 text-5xl font-medium text-white;
}
@media (max-width: 768px) {
  .hd-banner-support .banner-content-wrapper .banner-title {
    font-size: 34px;
  }
}
.hd-banner-support .banner-content-wrapper p {
  @apply mb-10 text-lg text-gray-200;
}

.hd-banner-support .banner-content-wrapper .banner-search-form {
  @apply mx-auto my-0 flex bg-white shadow-lg;
  max-width: 770px;
  border-radius: 30px;
}

.hd-banner-support .bottom-shape {
  @apply absolute left-0 w-full;
  bottom: -1px;
}
.hd-banner-support .bottom-shape img {
  @apply w-full;
}

.people-image {
  @apply absolute left-1/2 w-full;
  height: 320px;
  max-width: 1250px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 165px;
  z-index: 3;
}
@media (max-width: 767px) {
  .people-image {
    height: 280px;
  }
}
@media (max-width: 576px) {
  .people-image {
    bottom: 80px;
  }
}
.people-image li {
  @apply absolute overflow-hidden rounded-full border-4 border-white shadow-xl;
}
.people-image li img {
  @apply w-full;
}
.people-image li:nth-child(1) {
  @apply left-1/2 top-4;
  transform: translateX(-50%);
  border: 6px solid #fff;
  height: 130px;
  width: 130px;
  box-shadow: 0px 50px 80px 0px rgba(59, 14, 3, 0.12);
}
.people-image li:nth-child(2) {
  @apply top-0 h-20 w-20;
  left: 29.4%;
}
.people-image li:nth-child(3) {
  right: 26.4%;
  top: -5px;
  height: 70px;
  width: 70px;
}
.people-image li:nth-child(4) {
  @apply left-40 top-20 h-20 w-20;
}
.people-image li:nth-child(5) {
  @apply bottom-10 h-20 w-20;
  left: 26.4%;
}
.people-image li:nth-child(6) {
  right: 38%;
  bottom: -20px;
  height: 100px;
  width: 100px;
}
.people-image li:nth-child(7) {
  right: 85px;
  bottom: 5px;
  width: 90px;
  height: 90px;
}
.people-image li:nth-child(8) {
  left: 0;
  bottom: 0;
  border: 2px solid #fff;
}
.people-image li:nth-child(9) {
  right: 22.3%;
  bottom: 35%;
  height: 50px;
  width: 50px;
  border: 2px solid #fff;
}
.people-image li:nth-child(10) {
  right: 0;
  bottom: 145px;
  height: 60px;
  width: 60px;
  border: 2px solid #fff;
}

@media (max-width: 768px) {
  .people-image li:nth-child(4) {
    left: 95px;
  }
}
@media (max-width: 576px) {
  .people-image li:nth-child(2) {
    left: 13%;
  }
  .people-image li:nth-child(3) {
    right: 18%;
  }
}
@media (max-width: 440px) {
  .people-image li:nth-child(1) {
    height: 100px;
    width: 100px;
  }
  .people-image li:nth-child(4) {
    left: 20px;
  }
  .people-image li:nth-child(5) {
    left: 22.4%;
    bottom: 55px;
  }
  .people-image li:nth-child(7) {
    right: 25px;
  }
  .people-image li:nth-child(8) {
    left: 10px;
  }
  .people-image li:nth-child(10) {
    right: 20px;
  }
}

.partical-animation {
  @apply absolute bottom-0 left-0 w-full;
  width: 100%;
  height: 550px;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.partical-animation li {
  @apply absolute rounded-full;
}
.partical-animation li:nth-child(1) {
  left: 165px;
  top: 120px;
}
.partical-animation li:nth-child(2) {
  @apply top-20 h-2 w-2;
  left: 19%;
  background: #fd9382;
}
.partical-animation li:nth-child(3) {
  left: 19%;
  bottom: 30%;
  height: 10px;
  width: 10px;
  background: #fe97f3;
}
.partical-animation li:nth-child(3) {
  left: 28%;
  top: 35%;
  height: 35px;
  width: 35px;
  background: #f3d5de;
}
.partical-animation li:nth-child(4) {
  @apply h-3 w-3;
  left: 27%;
  bottom: 30%;
  background: #83daed;
}
.partical-animation li:nth-child(5) {
  @apply left-1/3 bottom-1/2 h-3 w-3 bg-yellow-500;
}
.partical-animation li:nth-child(6) {
  @apply left-1/2 top-1/3 h-12 w-12;
  background: #4edfda;
}
.partical-animation li:nth-child(7) {
  right: 46%;
  bottom: 27%;
  height: 22px;
  width: 22px;
  background: #f39ab2;
}
.partical-animation li:nth-child(8) {
  right: 46%;
  bottom: 27%;
  height: 22px;
  width: 22px;
  background: #f39ab2;
}
.partical-animation li:nth-child(9) {
  @apply h-2 w-2 bg-red-300;
  right: 40%;
  bottom: 60%;
}
.partical-animation li:nth-child(10) {
  @apply h-7 w-7;
  right: 22%;
  bottom: 30%;
  background: #bff8c6;
}
.partical-animation li:nth-child(11) {
  @apply h-4 w-4 bg-red-300;
  right: 10%;
  bottom: 55%;
}
.partical-animation li:nth-child(12) {
  @apply right-16 bottom-40;
}

.related-doc-title {
  font-size: 30px;
  font-weight: bold;
}

.fun-fact1-counter {
  color: #10b3d6;
}
.fun-fact2-counter {
  color: #fbb631;
}
.fun-fact3-counter {
  color: #fd5baf;
}
.fun-fact4-counter {
  color: #11c296;
}
.fun-fact5-counter {
  color: #9360fc;
}

.community-post {
  @apply mb-5 block items-center justify-between bg-white md:flex;
  border-radius: 6px;
  box-shadow: 0 2px 8px 0 rgba(2, 47, 57, 0.1);
  padding: 23px 30px;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}

.community-post:hover {
  box-shadow: 0 24px 40px 0 rgba(2, 47, 57, 0.12);
  border-color: #eef3f6;
  transform: translateX(10px);
}

.about-journalism {
  @apply relative overflow-hidden;
  background: #fafcfd;
}

.light-header {
  @apply absolute left-0 w-full text-center;
  bottom: -23px;
}

.light-header .title-light {
  @apply m-0 font-bold leading-none;
  color: #eff4f7;
  font-size: 60px;
}
@media (max-width: 768px) {
  .light-header .title-light {
    font-size: 30px;
    bottom: -10px;
  }
}

.journalism-content-wrapper {
  max-width: 550px;
  padding: 113px 0 65px;
}

.journalism-content-wrapper .quote {
  margin-left: -20px;
}

.journalism-content-wrapper .journalism-title {
  @apply mb-5 text-3xl font-bold leading-10;
  color: #1d2746;
}
.journalism-content-wrapper p {
  @apply mb-10 text-xl leading-9 text-gray-500;
}
.journalism-content-wrapper .journalism-info .name {
  @apply m-0 text-base;
  color: #1d2746;
}
.journalism-content-wrapper .journalism-info .designation {
  font-size: 14px;
  color: #6b707f;
}

.journalism-feature-image {
  @apply relative mt-5;
}
@media (max-width: 992px) {
  .journalism-feature-image {
    @apply ml-5;
  }
}
.journalism-feature-image:before {
  @apply absolute left-5 top-16 rounded-full font-semibold;
  content: '';
  height: 600px;
  width: 600px;
  background-image: linear-gradient(45deg, #ecf9fc 0%, #feefec 100%);
  z-index: 1;
}

.journalism-feature-image img {
  margin-left: -27px;
  position: relative;
  z-index: 2;
}

@media (max-width: 576px) {
  .journalism-feature-image img {
    max-width: 300px;
  }
}
@media (max-width: 576px) {
  .journalism-feature-image:before {
    width: 300px;
    height: 300px;
  }
}
/* ================== Search Community======================= */

.community-box {
  @apply mb-8 overflow-hidden rounded-lg border-gray-100 bg-white px-16 py-10 text-center;
  box-shadow: 0px 2px 3px 0px rgba(2, 47, 57, 0.14);
  transition: all 0.3s ease-in-out;
}
.community-box:before {
  @apply absolute top-0 left-0 h-1 w-full bg-transparent;
  content: '';
  transition: all 0.3s ease-in-out;
}

.community-box .community-content .com-title {
  @apply mb-7 font-normal text-gray-500;
  font-size: 18px;
  line-height: 28px;
}

.community-box:hover {
  box-shadow: 0px 40px 30px 0px rgba(2, 47, 57, 0.1);
  transform: translateY(-5px);
}
.community-box:hover:before {
  background: #10b3d6;
}

/* User board css */
.user-icon li {
  background-color: rgba(36, 105, 92, 0.1);
  color: #24695c;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-left: 20px;
}
.user-icon li:hover {
  background: #24695c;
  color: white;
}

/* Blog Detail Page  */
#documentation img {
  margin: 0 auto;
  margin-bottom: 30px;
}
#documentation h1,
#documentation h2,
#documentation h3,
#documentation h4,
#documentation h5,
#documentation h6,
#documentation p {
  margin-bottom: 30px;
}

/* dashboard */
